.container {
  padding: 1.3rem;
  background: rgb(250, 249, 249);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.backDropContainer {
  width: 100%;
  height: 30vh;
  background: url("https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?_gl=1*1h7uts7*_ga*NzE5MTI0NjY1LjE3NTMzNDk1ODQ.*_ga_8JE65Q40S6*czE3NTQ0NjMwMzIkbzMkZzEkdDE3NTQ0NjM2NjQkajQ5JGwwJGgw");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
}

.backDropContainer img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  left: 8%;
  text-align: center;
}

.profileContainer__details {
  padding-top: 6.6rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.card__profileContainer {
  display: flex;
}

.card__profileContainer img {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 10px;
}

/* .backDrop {
  width: 3.4rem;
  height: auto;
  height: 3.4rem;
  object-fit: cover;
  position: relative;
} */

.backDrop__overlay {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  left: 8%;
  text-align: center;
  z-index: 4;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backDrop__overlay:hover {
  background: black;
  opacity: 0.6;
}
.connectBtn {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: white;
  outline: none;
  border: 1px solid rgba(3, 93, 183, 0.905);
  color: rgba(3, 93, 183, 0.905);
  border-radius: 10px;
  cursor: pointer;
}

.workHistoryContainer {
  display: flex;
  gap: 1.4rem;
  padding-top: 1.4rem;
  width: 100%;
  flex-wrap: wrap;
}

.workHistoryCard {
  min-width: fit-content;
  padding-inline: 2.5rem;
  padding-block: 10px;
  border-radius: 10px;
  box-shadow: rgba(173, 173, 173) 10px 10px 15px;
}

.profileContainer__details input {
  outline: none;
  border-style: none;
  padding-inline: 10px;
  padding-block: 9px;
  width: fit-content;
}

.nameEdit {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(250, 249, 249);
}

.updateProfileBtn {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
}

.profileContainer__details textarea {
  outline: none;
  border: none;
  padding-inline: 10px;
  padding-block: 9px;
  font-family: "Poppins" !important;
  font-size: 1.1rem;
  background-color: rgb(250, 249, 249);
}

.addWorkBtn {
  border: 1px dotted silver;
  padding-inline: 1.3rem;
  background: white;
  padding-block: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}

.commentsContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

.allCommentsContainer {
  width: 40vw;
  height: fit-content;
  background: white;
  border-radius: 10px;
  position: relative;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inputField {
  padding-inline: 0.8rem;
  padding-block: 0.8rem;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
