.container {
  padding: 1.2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonJoin {
  background-color: #cd8987;
  border-radius: 10px;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: bold;
}
